body{
    background-color: white;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}
img {
    width: 300px;
    border-radius: 10px;
}

p {
    line-height: 1.6;
    max-width: 600px;
    margin: 0 auto 10px;
}

ul{
    text-align: left;
    display: inline-block;
}